<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../css/hero.css">
    <title>¿Porque te amo?</title>
</head>
<body>
    <header>
        <!-- Barra de navegación -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item valentin-text" href="../../index.html">
                Feliz San Valentín
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item valentin-text" href="galeria.html">
                    Galería
                </a>

                <a class="navbar-item valentin-text" href="amor.html">
                    ¿Porque te amo?
                </a>

                <a class="navbar-item valentin-text" href="vales.html">
                    Vales de amor
                </a>
            </div>
        </div>
    </nav>
    <!-- Barra de navegación -->
    </header>

    <!-- cuerpo -->
        <div class="after-nav">
            <h1 class="title-text">
                Querida Grisela...❤️
            </h1>
            <br>
            <p>
                He decidido crear esta pequeña pero significativa página solo para ti, todo el tiempo
                invertido en crearla es dedicado a ti mi princesa preciosa. Espero que este día de los
                enamorados sea agradable para ambos y sobre todo espero que sigamo sintendonos deesa manera
                pues a pesar de las situaciones, puntos de vista diversos y acciones buenas o malas hemos
                sabido sobrellevar la relación y llegar a un punto relativamente maduro.
                <br><br>
                Me gustaria mencionarte además que me siento realmente feliz de ser la persona que este en tu
                vida y que así como dices tú "si algún díame dejas, vas a decir ¡Hay mi davicito!" y es por esta
                y más razones que te amo.
                <br><br>
                Las razones por las que me gustas, te amo y me encantas básicamente es solo una pero esto no sería
                romántico si solo te lo digo así 😅 yes por ello que enlistaré las razones por las que te amo:
                <br><br>
            </p>
            <ul>
                <li><strong>¡Una personalidad aplastante!</strong></li>
                <p>
                    Antes de que lo confundas de alguna extraña manera 🙃 con esto me refiero a que eres una
                    persona con una personalidad deslumbrante, que a todos a los que conoce siempre queiere apoyar
                    y dar lo mejor de sí misma, eres capaz de ayudar a cualquiera que se te ponga enfrente incluso
                    si lo conociste hace dos segundos 🤣 pero esto solo demuestra que tienes una forma de ser tan
                    humana que si fuera un stand de jojo's sería realmente ¡aplastante!.
                    <br><br>
                </p>

                <img src="../img/JASP.gif" alt="jotaro-jojos">
                <br><br>

                <li><strong>Un caracter variable 🤪</strong></li>
                <p>
                    Mi naturaleza aburrida me permite definir tu caracter como un poco loco y de hecho así me traes
                    mamacita 🥰 contigo todos los días son interesantes por que no se sabe de que humor estarás hoy
                    o mañana o en 5 minutos 🥴 es un aspecto tuyo que me gusta aunque a veces no mucho.
                    <br><br>
                </p>
                <li><strong>Una carita toda preciosa 😍</strong></li>
                <p>
                    Eres una persona muy atractiva tanto por dentro (no tus tripas) como por fuera y tu carita
                    es un rasgo  personal que me gusta mucho desde tu cabellito loco que pasa por muchos cambios
                    radicales de look, tu bella mirada y tu sonrisa radiante como el sol 🌞. Eres muy hermosa
                    tengas o no labial, aretes, rubor, base, delineador o cualquier tipo de maquillaje, no pienses
                    nunca que sin esos productos o cambios en tu color y/o tamaño de cabello eres menos o mas
                    preciosa por que para mí siempre serás esa carita bonita del LUSA 🚍.
                    <br><br>
                </p>
                <img src="../img/carita.jpg" alt="carita_preciosa">
                <li><strong>Un par de razones más 😉</strong></li>
                <p>
                    Tu bien sabes a que me refiero, no hay mucho que explicar 😚
                    <br><br>
                </p>
                <img src="../img/squ.gif" alt="squ">
                <li><strong>Una extraña razón</strong></li>
                <p>
                    Esa extraña manera en la que me siento a gusto contigo, es una sensación que no puedo explicar
                    pero que me hace querer estar contigo siempre que no te veo, no me explico el motivo lógico
                    pero estoy seguro de que ese sentimiento por querer darte siempre lo mejor de mí y pasar el tiempo
                    juntos es la base de lo que conocemos como <strong>AMOR 💕</strong>
                    <br><br>
                </p>
                <img src="../img/giphy.gif" alt="kiss">
                <h1 class="title-text">¡Feliz san valentín!</h1>
            </ul>
        </div>
    <!-- cuerpo -->
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>