<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../css/hero.css">
    <title>¿Porque te amo?</title>
</head>
<body>
    <header>
        <!-- Barra de navegación -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item valentin-text" href="../../index.html">
                Feliz San Valentín
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item valentin-text" href="galeria.html">
                    Galería
                </a>

                <a class="navbar-item valentin-text" href="amor.html">
                    ¿Porque te amo?
                </a>

                <a class="navbar-item valentin-text" href="vales.html">
                    Vales de amor
                </a>
            </div>
        </div>
    </nav>
    <!-- Barra de navegación -->
    </header>
    <!-- cuerpo -->
    <div class="after-nav">
        <h1 class="title-text">
            Galería de momentos
            <br><br>
        </h1>
        <div class="columns is-mobile">
            <div class="column">
                <p class="galery-text">Hemos comenzado un año nuevo juntos 🆕</p>
            </div>
            <div class="column">
                <img class="galery-img" src="../img/gAnioNuevo.jpg" alt="anioNuevo">
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <img class="galery-img" src="../img/gPelona.jpg" alt="pelona">
            </div>
            <div class="column">
                <p class="galery-text">Has pasado tantas etapas 💇</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <p class="galery-text">En tan poco tiempo ⌛</p>
            </div>
            <div class="column">
                <img class="galery-img" src="../img/gAzul.jpg" alt="azul">
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <img class="galery-img" src="../img/gPerritos.jpg" alt="perritos">
            </div>
            <div class="column">
                <p class="galery-text">Has encontrado nuevos amigos 🦴</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <p class="galery-text">Has disfrutado de las fechas especiales 🎉</p>
            </div>
            <div class="column">
                <img class="galery-img" src="../img/gRosca.jpg" alt="rosca">
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <img class="galery-img" src="../img/gTrabajo.jpg" alt="trabajo">
            </div>
            <div class="column">
                <p class="galery-text">Te has esforzado mucho en tu trabajo 💪</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <p class="galery-text">Aunque a veces llegas tarde 😴</p>
            </div>
            <div class="column">
                <img class="galery-img" src="../img/gDormidos.jpg" alt="dormios">
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
                <img class="galery-img" src="../img/gFeliz.jpg" alt="feliz">
            </div>
            <div class="column">
                <p class="galery-text">Me encanta hacerte feliz 💗</p>
            </div>
        </div>
    </div>
    <!-- cuerpo -->
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>